<?xml version="1.0" encoding="UTF-8"?><maryxml xmlns="http://mary.dfki.de/2002/MaryXML" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="0.5" xml:lang="no">
<p>
<s>
<t>
Dette
</t>
<t>
er
</t>
<t>
en
</t>
<t>
test
</t>
<t>
av
</t>
<t>
norsk
</t>
<t>
talesyntese
</t>
<t>
.
</t>
</s>
</p>
</maryxml>
