##########################################################################
# MARY TTS configuration file ga_MU.config
##########################################################################

name = ga_MU
ga_MU.version = 4.0.0
locale = ga

provides = a-language

requires = \
    marybase


###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
        marytts.modules.JPhonemiser(ga_MU.)  \
        marytts.modules.MinimalisticPosTagger(ga_MU,ga_MU.) \


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
##ga_MU.allophoneset = MARY_BASE/lib/modules/ga_MU/lexicon/allophones.ga_MU.xml
##ga.allophoneset = MARY_BASE/lib/modules/ga_MU/lexicon/allophones.ga_MU.xml
##ga_MU.lexicon = MARY_BASE/lib/modules/ga_MU/lexicon/lextest_lexicon.fst
##ga_MU.lettertosound = MARY_BASE/lib/modules/ga_MU/lexicon/lextest.lts
#ga_MU.userdict = MARY_BASE/lib/modules/ga_MU/lexicon/userdict.txt

# POS tagger settings
##ga_MU.partsofspeech.fst = MARY_BASE/lib/modules/ga_MU/tagger/lextest_pos.fst
##ga_MU.partsofspeech.punctuation = ,.?!;

# Phonemiser settings
ga.allophoneset = jar:/marytts/language/ga_MU/lexicon/allophones.ga_MU.xml
ga_MU.allophoneset = jar:/marytts/language/ga_MU/lexicon/allophones.ga_MU.xml
ga_MU.lexicon = jar:/marytts/language/ga_MU/lexicon/lextest_lexicon.fst
ga_MU.lettertosound = jar:/marytts/language/ga_MU/lexicon/lextest.lts
#ga_MU.userdict = MARY_BASE/user-dictionaries/userdict-ga_MU.txt


# POS tagger settings
ga_MU.partsofspeech.fst = jar:/marytts/language/ga_MU/tagger/lextest_pos.fst
ga_MU.partsofspeech.punctuation = ,.?!;



# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(ga_MU)
